<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandian.dao.QrcodeMapper">
  <resultMap id="BaseResultMap" type="com.diandian.model.Qrcode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roomid" jdbcType="INTEGER" property="roomid" />
    <result column="uuidname" jdbcType="VARCHAR" property="uuidname" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="savepath" jdbcType="VARCHAR" property="savepath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, roomid, uuidname, realname, savepath
  </sql>
  <select id="selectByExample" parameterType="com.diandian.model.QrcodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qrcode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qrcode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.diandian.model.QrcodeExample">
    delete from qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.diandian.model.Qrcode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into qrcode (roomid, uuidname, realname, 
      savepath)
    values (#{roomid,jdbcType=INTEGER}, #{uuidname,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{savepath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.diandian.model.Qrcode">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into qrcode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomid != null">
        roomid,
      </if>
      <if test="uuidname != null">
        uuidname,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="savepath != null">
        savepath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomid != null">
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="uuidname != null">
        #{uuidname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="savepath != null">
        #{savepath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.diandian.model.QrcodeExample" resultType="java.lang.Long">
    select count(*) from qrcode
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update qrcode
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roomid != null">
        roomid = #{record.roomid,jdbcType=INTEGER},
      </if>
      <if test="record.uuidname != null">
        uuidname = #{record.uuidname,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null">
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.savepath != null">
        savepath = #{record.savepath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update qrcode
    set id = #{record.id,jdbcType=INTEGER},
      roomid = #{record.roomid,jdbcType=INTEGER},
      uuidname = #{record.uuidname,jdbcType=VARCHAR},
      realname = #{record.realname,jdbcType=VARCHAR},
      savepath = #{record.savepath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.diandian.model.Qrcode">
    update qrcode
    <set>
      <if test="roomid != null">
        roomid = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="uuidname != null">
        uuidname = #{uuidname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="savepath != null">
        savepath = #{savepath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diandian.model.Qrcode">
    update qrcode
    set roomid = #{roomid,jdbcType=INTEGER},
      uuidname = #{uuidname,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      savepath = #{savepath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>